<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <add key="Sitecore v2" value="https://sitecore.myget.org/F/sc-packages/" />
    <add key="Sitecore" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <nexus_nuget_group>
      <add key="Username" value="readonly" />
      <add key="ClearTextPassword" value="0ZEhByhdHQgUVpVV5oo0" />
    </nexus_nuget_group>
  </packageSourceCredentials>
</configuration>